{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'pharmacy/css/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Listed Purchase</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/pharmacy/" class="navbar-brand"><span
                    class="glyphicon glyphicon glyphicon-home"></span>&nbsp;HOME</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thisnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="thisnav">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dealer Management<b
                        class="caret"></b></a>
                    <ul id="dealer-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharmacy/dealerform/">Add Dealer Details</a></li>
                        <li><a href="/pharmacy/dealertable/">View Dealer Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Medicine Management<b
                        class="caret"></b></a>
                    <ul id="med-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharmacy/medform/">Add Medicine Details</a></li>
                        <li><a href="/pharmacy/medtable/">View Medicine Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee Management<b
                        class="caret"></b></a>
                    <ul id="emp-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharmacy/empform/">Add Employee Details</a></li>
                        <li><a href="/pharmacy/emptable/">View Employee Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer Management<b
                        class="caret"></b></a>
                    <ul id="cust_menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharmacy/custform/">Add Customer Details</a></li>
                        <li><a href="/pharmacy/custtable/">View Customer Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Purchase Information<b
                        class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharmacy/purchaseform/">New Purchase</a></li>
                        <li><a href="/pharmacy/purchasetable/">View All Purchases</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="modalContactForm" tabindex="-1">
    <form action="https://formspree.io/f/mgveyqjy" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i><label class="modaltext" for="form34"> Your name</label>
                        <input type="text" id="form34" name="cu-name" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i><label class="modaltext" for="form29"> Your email</label>
                        <input type="email" id="form29" name="cu-mail" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i><label class="modaltext" for="form32"> Subject</label>
                        <input type="text" id="form32" name="cu-subject" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i><label class="modaltext" for="form8"> Your message</label>
                        <textarea type="text" id="form8" name="cu-message" class="md-textarea form-control"
                                  rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-brown">Send <i class="fas fa-paper-plane ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid martop7">
    <div class="jumbotron jumcust">
        <h2>Purchase Details</h2>
        <div class="row padtop15">
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <table border="1" class="table table-responsive table-hover col-md-10">
                <tr>
                    <th>Purchase ID</th>
                    <th>Product Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                {% for foo in purchase %}
                    <tr>
                        <td class="idlink"><a href="/pharmacy/purchaseformview{{ foo.id }}/">{{ foo.id }}</a></td>
                        <td>{{ foo.pname }}</td>
                        <td>{{ foo.fname }}</td>
                        <td>{{ foo.lname }}</td>
                        <td>{{ foo.phn_no }}</td>
                        <td>{{ foo.price }}</td>
                        <td>{{ foo.qty }}</td>
                        <td>{{ foo.total }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <footer><h3>Click on a Purchase ID to Update or Delete the record.</h3></footer>
    </div>
</div>

</body>
</html>